# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# # dependencies


# testing
/coverage

# production
/build

# server folders

# misc

# debug

# virtual env
money_venv/


# configs

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.gitgo_repo_url

# Local Netlify folder
# .netlify

# Other
*.pem
*.key
*.crt
*.csr

